<% @array.each do |contact| %>

<h1>The first name is: <%= contact.first_name %></h1>
<h1>The last name is: <%= contact.last_name %></h1>
<h1>The email address is: <%= contact.email %></h1>
<h1>The phone number is: <%= contact.phone_number %></h1>

<% end %>